---
layout: page
title: "About"
description: "Hey, this is JIM."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote>
        <p>Start Early or<br>
            Stay Up Late.</p>
    </blockquote>

    <h2 style="margin-bottom: 0px;">Hello!</h2>
    <p>Hello! I am Xingjian Zhang, an undergraduate student at the University of Michigan and Shanghai Jiao Tong
        University, major in ECE and CS. My research interest is <strong>data mining, network and natural language
            processing</strong>.
        As an undergraduate student, I have been working on two research projects for semesters. I collaborated with
        <a href="http://www.jiaqima.com/">Jiaqi Ma</a> and <a href="http://www-personal.umich.edu/~qmei/">Prof. Qiaozhu
            Mei</a> on a data-mining project <i>Fast Learning of MNL Model From General Partial Rankings with
            Application to Network Formation Modeling</i>. It has been accepted by
        <a href="https://www.wsdm-conference.org/2022/">WSDM 2022 </a> (acceptance rate ~20%).
        I am also working closely with <a href="https://pdhillon.com/">Prof. Paramveer Dhillon</a> on an
        ongoing NLP project, <i>Debiasing Word
            Embeddings by Adversarial Training</i>.

    <p> Additionally, I served as a teaching assistant of <a
            href="http://umji.sjtu.edu.cn/~horst/teaching/vv285.html">Honors Mathematics</a> series courses at
        the UM-SJTU Joint Institute for semesters, advised by <a href="https://umji.sjtu.edu.cn/~horst/index.html">Prof.
            Horst Hohberger</a>. I am also the assistant of the JI Alumni Association.</p>

    <h2 style="margin-bottom: 0px;">Education</h2>
    <div class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-12 ant-col-lg-15" style="margin-bottom: -2rem;">
        <div>
            <section
                style="position: relative; font-size: 80%; font-weight: 300; padding: 10px 0px; width: 100%; margin: 0px auto;">
                <div
                    style="position: absolute; top: 20px; height: 100%; width: 2px; background: rgb(68, 86, 108); left: 16px;">
                </div>
                <div style="position: relative; margin: 10px 0px; padding-left: 45px; text-align: left;">
                    <div
                        style="position: absolute; top: 0px; border-radius: 50%; width: 30px; height: 30px; margin-left: 1px; background: rgb(233, 240, 245); border: 2px solid rgb(68, 86, 108); display: flex; color: rgb(68, 86, 108); left: 0px;">
                        <span
                            style="display: flex; width: 32px; height: 32px; position: relative; justify-content: center; cursor: default; align-self: center; align-items: center;"><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="graduation-cap"
                                class="svg-inline--fa fa-graduation-cap fa-w-20 fa-fw fa-md " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path fill="currentColor"
                                    d="M622.34 153.2L343.4 67.5c-15.2-4.67-31.6-4.67-46.79 0L17.66 153.2c-23.54 7.23-23.54 38.36 0 45.59l48.63 14.94c-10.67 13.19-17.23 29.28-17.88 46.9C38.78 266.15 32 276.11 32 288c0 10.78 5.68 19.85 13.86 25.65L20.33 428.53C18.11 438.52 25.71 448 35.94 448h56.11c10.24 0 17.84-9.48 15.62-19.47L82.14 313.65C90.32 307.85 96 298.78 96 288c0-11.57-6.47-21.25-15.66-26.87.76-15.02 8.44-28.3 20.69-36.72L296.6 284.5c9.06 2.78 26.44 6.25 46.79 0l278.95-85.7c23.55-7.24 23.55-38.36 0-45.6zM352.79 315.09c-28.53 8.76-52.84 3.92-65.59 0l-145.02-44.55L128 384c0 35.35 85.96 64 192 64s192-28.65 192-64l-14.18-113.47-145.03 44.56z">
                                </path>
                            </svg></span>
                    </div>
                    <div class="" style="position: relative; font-size: 12pt; font-weight: 300;">
                        <div
                            style="top: 24px; left: 100%; border-color: transparent transparent transparent rgb(255, 255, 255);">
                        </div>
                        <div>
                            <div style="margin-bottom: 3px; color: rgb(48, 62, 73);">Sep 2020 - May 2022</div>
                            <div style="font-size: 12pt; font-weight: bold;">B.S.E in Computer Science</div>
                            <div style="margin-top: 2px; font-size: 13pt; color: rgb(119, 119, 119); font-weight: 400;">
                                University of Michigan, Ann Arbor</div>
                            <div style="margin-top: -20px; float: right; text-align: right;"></div>
                        </div>
                    </div>
                    <div style="clear: both; display: table;"></div>
                </div>
                <div style="position: relative; margin: 10px 0px; padding-left: 45px; text-align: left;">
                    <div
                        style="position: absolute; top: 0px; border-radius: 50%; width: 30px; height: 30px; margin-left: 1px; background: rgb(233, 240, 245); border: 2px solid rgb(68, 86, 108); display: flex; color: rgb(68, 86, 108); left: 0px;">
                        <span
                            style="display: flex; width: 32px; height: 32px; position: relative; justify-content: center; cursor: default; align-self: center; align-items: center;"><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="university"
                                class="svg-inline--fa fa-university fa-w-16 fa-fw fa-md " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M496 128v16a8 8 0 0 1-8 8h-24v12c0 6.627-5.373 12-12 12H60c-6.627 0-12-5.373-12-12v-12H24a8 8 0 0 1-8-8v-16a8 8 0 0 1 4.941-7.392l232-88a7.996 7.996 0 0 1 6.118 0l232 88A8 8 0 0 1 496 128zm-24 304H40c-13.255 0-24 10.745-24 24v16a8 8 0 0 0 8 8h464a8 8 0 0 0 8-8v-16c0-13.255-10.745-24-24-24zM96 192v192H60c-6.627 0-12 5.373-12 12v20h416v-20c0-6.627-5.373-12-12-12h-36V192h-64v192h-64V192h-64v192h-64V192H96z">
                                </path>
                            </svg></span>
                    </div>
                    <div class="" style="position: relative; font-size: 12pt; font-weight: 300;">
                        <div
                            style="top: 24px; left: 100%; border-color: transparent transparent transparent rgb(255, 255, 255);">
                        </div>
                        <div>
                            <div style="margin-bottom: 3px; color: rgb(48, 62, 73);">Sept 2018 - Aug 2022</div>
                            <div style="font-size: 12pt; font-weight: bold;">B.S.E. in Electrical and Computer
                                Engineering</div>
                            <div style="margin-top: 2px; font-size: 13pt; color: rgb(119, 119, 119); font-weight: 400;">
                                UMich-Shanghai Jiao Tong University Joint Institute, China</div>
                            <div style="margin-top: -20px; float: right; text-align: right;"></div>
                        </div>
                    </div>
                    <div style="clear: both; display: table;"></div>
                </div>
                <div style="display: table; clear: both;"></div>
            </section>
        </div>
        <div>
            <section
                style="position: relative; font-size: 80%; font-weight: 300; padding: 10px 0px; width: 100%; margin: 0px auto; top: -30px;">
                <div
                    style="position: absolute; top: 0px; height: 100%; width: 2px; background: rgb(160, 178, 184); left: 16px; display: none;">
                </div>
                <div style="position: relative; margin: 10px 0px; padding-left: 45px; text-align: left;">
                    <div
                        style="position: absolute; top: 0px; border-radius: 50%; width: 30px; height: 30px; margin-left: 1px; background: rgb(233, 240, 245); border: 2px solid rgb(68, 86, 108); display: flex; color: rgb(68, 86, 108); left: 0px;">
                        <span
                            style="display: flex; width: 32px; height: 32px; position: relative; justify-content: center; cursor: default; align-self: center; align-items: center;"><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="school"
                                class="svg-inline--fa fa-school fa-w-20 fa-fw fa-md " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path fill="currentColor"
                                    d="M0 224v272c0 8.84 7.16 16 16 16h80V192H32c-17.67 0-32 14.33-32 32zm360-48h-24v-40c0-4.42-3.58-8-8-8h-16c-4.42 0-8 3.58-8 8v64c0 4.42 3.58 8 8 8h48c4.42 0 8-3.58 8-8v-16c0-4.42-3.58-8-8-8zm137.75-63.96l-160-106.67a32.02 32.02 0 0 0-35.5 0l-160 106.67A32.002 32.002 0 0 0 128 138.66V512h128V368c0-8.84 7.16-16 16-16h96c8.84 0 16 7.16 16 16v144h128V138.67c0-10.7-5.35-20.7-14.25-26.63zM320 256c-44.18 0-80-35.82-80-80s35.82-80 80-80 80 35.82 80 80-35.82 80-80 80zm288-64h-64v320h80c8.84 0 16-7.16 16-16V224c0-17.67-14.33-32-32-32z">
                                </path>
                            </svg></span>
                    </div>
                    <div class="" style="position: relative; font-size: 12pt; font-weight: 300;">
                        <div
                            style="top: 24px; left: 100%; border-color: transparent transparent transparent rgb(255, 255, 255);">
                        </div>
                        <div>
                            <div style="margin-bottom: 3px; color: rgb(48, 62, 73);">Sept 2015 - June 2018</div>
                            <div style="font-size: 12pt; font-weight: bold;">Middle School</div>
                            <div style="margin-top: 2px; font-size: 13pt; color: rgb(119, 119, 119); font-weight: 400;">
                                High School Affiliated to Nanjing Normal University, China</div>
                            <div style="margin-top: -20px; float: right; text-align: right;"></div>
                        </div>
                    </div>
                    <div style="clear: both; display: table;"></div>
                </div>
                <div style="display: table; clear: both;"></div>
            </section>
        </div>
    </div>

    <h5>Relative Websites:</h5>

    <ul>
        <li><a href="https://github.com/xingjian-zhang/">GitHub</a></li>
        <li><a href="http://foreseer.si.umich.edu/">Foreseer Group</a></li>
        <li><a href="https://umich.edu/">University of Michigan</a></li>
        <li><a href="http://en.sjtu.edu.cn/">Shanghai Jiao Tong University</a></li>
        <li><a href="https://www.ji.sjtu.edu.cn/">UM-SJTU Joint Institute</a></li>
    </ul>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render() {
        var _hash = window.location.hash;
        // en
        if (_hash == "#en") {
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
            // zh by default
        } else {
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index) {
        if (index == 0) {
            window.location.hash = "#zh"
        } else {
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '{{site.gitalk.clientID}}',
        clientSecret: '{{site.gitalk.clientSecret}}',
        repo: '{{site.gitalk.repo}}',
        owner: '{{site.gitalk.owner}}',
        admin: ['{{site.gitalk.admin}}'],
        distractionFreeMode: '{{site.gitalk.distractionFreeMode}}',
        id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

<!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
